<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.sabbetecnologia.reclameaqui">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".usuarioCondomino.telasPrincipais.TelaInicioActivity" />
        <activity android:name=".usuarioCondomino.telasPrincipais.eventos.EventosMainActivity" />
        <activity android:name=".usuarioCondomino.telasPrincipais.mensagens.MensagensMainActivity" />
        <activity android:name=".usuarioCondomino.telasPrincipais.reclamacoes.ReclamacoesMainActivity" />
        <activity android:name=".CadastroUserActivity" />
        <activity android:name=".administracao.TelaInicioAdminActivity" />
        <activity android:name=".administracao.telasPrincipais.mensagens.AdminMsgOpcoesActivity" />
        <activity android:name=".administracao.telasPrincipais.mensagens.AdminMsgActivity" />
        <activity android:name=".usuarioCondomino.telasPrincipais.boletos.BoletosMainActivity" />
        <activity android:name=".administracao.telasPrincipais.eventos.AdmEventosMainActivity" />
        <activity android:name=".administracao.telasPrincipais.eventos.AdmCadEventoActivity" />
        <activity android:name=".administracao.telasPrincipais.eventos.AdmExibirEventosActivity" />
        <activity android:name=".administracao.telasPrincipais.reclamacoesSugestoes.ReclamaSugestActivity" />
        <activity android:name=".administracao.telasPrincipais.eventos.boletos.AdmBoletosActivity"></activity>
    </application>

</manifest>